<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Flaeche suchen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href='/css/fullcalendar.min.css' rel='stylesheet' />
    <link href='/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='/js/moment.min.js'></script>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/fullcalendar.min.js'></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Data-Table-1.css">
    <link rel="stylesheet" href="/css/Data-Table.css">
    <link rel="stylesheet" href="/css/Footer-Dark-1.css">
    <link rel="stylesheet" href="/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Google-Style-Login.css">
    <link rel="stylesheet" href="/css/Pretty-Table-1.css">
    <link rel="stylesheet" href="/css/Pretty-Table.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--    <script>
      function searchTable() {
           var input, filter, found, table, tr, td, i, j;
           input = document.getElementById("myInput");
           filter = input.value.toUpperCase();
           table = document.getElementById("myTable");
           tr = table.getElementsByTagName("tr");
           for (i = 0; i < tr.length; i++) {
               td = tr[i].getElementsByTagName("td");
               for (j = 0; j < td.length; j++) {
                   if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                       found = true;
                   }
               }
               if (found) {
                   tr[i].style.display = "";
                   found = false;
               } else {
                   tr[i].style.display = "none";
               }
           }
       }
   </script> -->
</head>
<body>
<div th:replace="/../fragments/adminHeader ::navbar" name="header"></div>
<input type="text" id="myInput" onkeyup="searchTable()" style="margin-top: 10%" placeholder="Eingeben zum suchen.." />
<table  class="table" id="myTable" style="margin-top:10%">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Pep</th>
        <th scope="col">Rechnungskunde</th>
        <th scope="col">Leistungskunde</th>
        <th scope="col">Ort</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flaeche :${flaechen}">
        <th scope="row" th:text="${flaeche.id}"></th>
        <th><a scope="row" th:href="@{/admin/pep(id=${flaeche.id})}">Zur Pep</a></th>
        <th scope="row" th:text="${flaeche.getRechnungskundeDifferenzierung().getRechnungskunde().getName()}"></th>
        <th scope="row" th:text="${flaeche.getLeistungskunde().getName()}"></th>
        <th scop="row" th:text="${flaeche.getLeistungskunde().getOrt()}"></th>
    </tr>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Pep</th>
        <th scope="col">Rechnungskunde</th>
        <th scope="col">Leistungskundee</th>
        <th scope="col">Ort</th>
    </tr>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Pep</th>
        <th scope="col">Rechnungskunde</th>
        <th scope="col">Leistungskunede</th>
        <th scope="col">Ort</th>
    </tr>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Pep</th>
        <th scope="col">Rechnungskundew</th>
        <th scope="col">Leistungskunde</th>
        <th scope="col">Ort</th>
    </tr>
    </tbody>
</table>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="/js/Profile-Edit-Form.js"></script>
<script src="/js/jquery.js"></script>
<script src="/js/foundation.min.js"></script>
</body>
</html>