<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="../src/css/style.css" rel="stylesheet">
</head>
<body>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
<h1>This is the Login of <%=name %> </h1>
<ul>
  <% data.forEach(function(item){ %>
    <li> <%= item %> </li>
  <%});%>
</ul>
<div class="login-popup-wrap new_login_popup">
    <div class="login-popup-heading text-center">
        <h4><i class="fa fa-lock" aria-hidden="true"></i> Login </h4>
    </div>

    <form id="loginMember" role="form">
        <div class="form-group text-center">
            <input type="text" class="form-control" id="user_id" placeholder="e-Mail" name="user_id">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="password" placeholder="Password" name="password">
        </div>
        <button id="login"  type="submit" class="btn btn-default login-popup-btn" name="submit" value="1">Login</button>
    </form>
</div>
</body>
</html>
