<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MSMPortal</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Data-Table-1.css">
    <link rel="stylesheet" href="/css/Data-Table.css">
    <link rel="stylesheet" href="/css/Footer-Dark-1.css">
    <link rel="stylesheet" href="/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Google-Style-Login.css">
    <link rel="stylesheet" href="/css/Pretty-Table-1.css">
    <link rel="stylesheet" href="/css/Pretty-Table.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div th:replace="/../fragments/adminHeader ::navbar" name="header"></div>
<h1 class="text-center" style="margin: 50px 0px 0px;color: rgb(139,145,150);">Account erstellen</h1>
    <div class="container text-left">
        <div class="text-center" style="margin: 100px;width: 876px;padding: 0px;">
            <form action="/test" method="post">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col"><label>ID</label><input class="form-control" type="text" name="id"></div>
                        <div class="col"><label>Login</label><input class="form-control" type="text" name="login"></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label>Password</label><input class="form-control" type="password" name="password"></div>
                        <div class="col"><label>Portalrecht</label><input class="form-control" type="text" name="portalrecht"></div>
                    </div>
                    <div class="form-row">
                        <div class="col"><label>Abteilung</label><input class="form-control" type="text" name="abteilung"></div>
                    </div>
                    <div class="form-row">
                        <div class="col" style="margin: 40px;"><button class="btn btn-primary" type="submit">Button</button></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/smart-forms.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
</body>

</html>