<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MSMPortal</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Data-Table-1.css">
    <link rel="stylesheet" href="/css/Data-Table.css">
    <link rel="stylesheet" href="/css/Footer-Dark-1.css">
    <link rel="stylesheet" href="/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Google-Style-Login.css">
    <link rel="stylesheet" href="/css/Pretty-Table-1.css">
    <link rel="stylesheet" href="/css/Pretty-Table.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div th:replace="/../fragments/einsatzkraftHeader ::navbar" name="header"></div>
<div class="container" style="margin-top: 10%">

    <table id="infotable" class="table table-bordered table-striped table-dark" style="margin-bottom: 5%;width: 150px;height:300px;">
        <tbody>
        <tr>
            <th>Zuletzt bearbeite am</th>
            <td ></td>
        </tr>
        <tr>
            <th>Auftraggeber</th>
            <td id="rechnungskunde">test</td>
        </tr>
        <tr>
            <th>Kunde</th>
            <td id="leistungskunde">test</td>
        </tr>
        <tr>
            <th>Standort</th>
            <td id="ort">test</td>
        </tr>
        <tr>
            <th>Monat</th>
            <td id="monat"></td>
        </tr>
        <tr>
            <th>Jahr</th>
            <td id="jahr"></td>
        </tr>
        <tr>
            <th>Flächen-nr</th>
            <td id="fläche"></td>
        </tr>
        <tr>
            <th>Flächenbetreuung</th>
            <td></td>
        </tr>

        </tbody>
    </table>
    <table id="datatable" class="table table-striped">
        <thead>
        <tr>
            <td ><a href='javascript:prevMonth()'> &laquo;</a></td>
            <td colspan=1 class='calendar_head_month' id='calendar_month'>
            </td>
            <td ><a href='javascript:today()'> Aktueller Monat</a></td>
            <td colspan=1 class='calendar_head_month' id='calendar_month2'>
            </td>
            <td ><a href='javascript:nextMonth()'> &raquo;</a></td>
        </tr>
        <tr>
            <th scope="col">Datum</th>
            <th scope="col">Wochentag</th>
            <th scope="col">Beginn (Uhrzeit)</th>
            <th scope="col">Ende (Uhrzeit)</th>
            <th scope="col">Pause(in Std)</th>
            <th scope="col">Arbeitszeit</th>
            <th scope="col">Bemerkung</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
    var days = [];
    var events = [];
    var dates = [];
    var currentDate = new Date();
    var currentMonth = currentDate.getMonth();
    var currentYeahr = currentDate.getFullYear();
    datatable = document.getElementById("datatable");
    getEvents();
    initalize();

    function initalize() {
        dates = [];
        var date = new Date(currentYeahr,currentMonth,1);
        while (date.getMonth() === currentMonth) {
            dates.push(new Date(date));
            var tag = date.getDate() +"."+(date.getMonth()+1)+"."+date.getFullYear();
            var alles = ["","","","","",getDayOfWeek(date),tag];
            days.push(alles);
            date.setDate(date.getDate() + 1);
        }
        console.log(events);
        datatable = document.getElementById("datatable");
        loadCalender();
    }

    function today(){
        clearCalender();
        var today = new Date();
        currentMonth = today.getMonth();
        currentYeahr = today.getFullYear();
        var date = new Date(currentYeahr,currentMonth,1);
        while (date.getMonth() === currentMonth) {
            dates.push(new Date(date));
            var tag = date.getDate() +"."+(currentMonth+1)+"."+date.getFullYear();
            var alles = [getDayOfWeek(date),tag];
            days.push(alles);
            date.setDate(date.getDate() + 1);
        }
        datatable = document.getElementById("datatable");
        loadCalender();
    }

    function prevMonth(){
        clearCalender()
        if(currentMonth-1<0){
            currentMonth = 11;
            currentYeahr = currentYeahr-1;
        } else {
            currentMonth = currentMonth-1;
        }
        var date = new Date(currentYeahr,currentMonth,1);
        while (date.getMonth() === currentMonth) {
            dates.push(new Date(date));
            var tag = date.getDate() +"."+(currentMonth+1)+"."+date.getFullYear();
            var alles = [getDayOfWeek(date),tag];
            days.push(alles);
            date.setDate(date.getDate() + 1);
        }
        datatable = document.getElementById("datatable");
        loadCalender();
    }
    function nextMonth(){
        clearCalender()
        if(currentMonth+2>12){
            currentMonth = 0;
            currentYeahr = currentYeahr+1;
        } else {
            currentMonth = currentMonth+1;
        }
        var date = new Date(currentYeahr,currentMonth,1);
        while (date.getMonth() === currentMonth) {
            var tag = date.getDate() +"."+(currentMonth+1)+"."+date.getFullYear();
            var alles = [getDayOfWeek(date),tag];
            days.push(alles);
            dates.push(new Date(date));
            date.setDate(date.getDate() + 1);

        }
        datatable = document.getElementById("datatable");
        console.log(dates);
        loadCalender();
    }

    function clearCalender(){
        days = [];
        dates = [];
        var myTable = document.getElementById("datatable");
        var rowCount = myTable.rows.length;
        for (var x=rowCount-1;x>1; x--) {
            myTable.deleteRow(x);
        }
    }

    function getEvents(){
        var request = new XMLHttpRequest();
        request.open('GET', '/admin/kalender/events', true);
        request.onload = function () {
            if (request.status >= 200 && request.status < 400) {
                events = [];
                events = JSON.parse(this.response);
                console.log(events);
            } else {
                console.log('error');
            }
        }
        request.send();

    }

    //Schreibt die Tage/Monate/Jahre und andere Daten in die Tabelle
    function loadCalender(){
        insertEvents();
        getRechnungskundeInformation();
        var monat = document.getElementById("monat");
        monat.innerHTML = getNameOfMonth(currentMonth);
        var jahr = document.getElementById("jahr");
        jahr.innerHTML = currentYeahr;
        for(var i = 0; i < days.length; i++)
        {
            // create a new row
            var newRow = datatable.insertRow(datatable.length);
            for(var j = 0; j < days[i].length; j++)
            {
                // create a new cell
                var cell = newRow.insertCell(0);
                // add value to the cell
                cell.innerHTML = days[i][j];
            }
        }
    }

    //Schreibt in das Day Array die Events für eine Flaeche
    function insertEvents(){
        for(var i = 0; i<events.length;i++) {
            for(var j = 0;j<dates.length;j++) {
                var acevent = events[i].start;
                var acdate = acevent.substr(0, acevent.length-5);
                var newdate = new Date(acdate);
                if(sameDate(newdate,dates[j])) {
                    console.log("yes");
                    replace(i,j);
                } else
                {
                    //    console.log("no "+ new Date(acdate) +" " + dates[j]);
                }
            }
        }
    }
    //tauscht zwei daten miteinander aus
    function replace(stelledaten,stellearray){
        events[stelledaten]
        days[stellearray]
        var test = [];
        for(var i = 0;i<days[stellearray].length;i++){
            test.push(days[stellearray][i]);
        }
        var acevent = events[stelledaten].start;
        var acdate = acevent.substr(0, acevent.length-5);
        var newdate = new Date(acdate);
        var acevent2 = events[stelledaten].end;
        var acdate2 = acevent2.substr(0, acevent.length-5);
        var newdate2 = new Date(acdate2);
        test.unshift("0,5",newdate.getHours(),newdate2.getHours());
        console.log(test);
        days[stellearray] = test;
        console.log(days[stellearray]);

    }
    //gibt die RechnungskundenInformation an die Tabelle aus
    function getRechnungskundeInformation() {
        var request = new XMLHttpRequest();
        request.open('GET', '/admin/kalender/fläche', true);
        request.onload = function () {
            if (request.status >= 200 && request.status < 400) {
                var flächeData = JSON.parse(this.response);
                var fläche = document.getElementById("fläche");
                fläche.innerHTML = flächeData.id;
                var rechnungsKunde = document.getElementById("rechnungskunde")
                rechnungsKunde.innerHTML = flächeData.rechnungskundeDifferenzierung.rechnungskunde.name;
                var leistungskunde = document.getElementById("leistungskunde")
                leistungskunde.innerHTML = flächeData.leistungskunde.name;
                var ort = document.getElementById("ort");
                ort.innerHTML = flächeData.leistungskunde.ort;
            } else {
                console.log('error');
            }
        }
        request.send();
    }
    //Schreibt Zahlen in Monate um
    function getNameOfMonth(date){
        var months    = ['Januar','Februar','März','April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'];
        return months[date];
    }

    //Schreibt Zahlen in Wochentage um
    function getDayOfWeek(date) {
        var dayOfWeek = new Date(date).getDay();
        return isNaN(dayOfWeek) ? null : ['Sonntag', 'Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag', 'Samstag'][dayOfWeek];
    }

    //Überprüft ob zwei Daten gleich sin
    function sameDate(date1, date2) {
        return date1.getDate() == date2.getDate() &&
            date1.getMonth() == date2.getMonth() &&
            date1.getFullYear() == date2.getFullYear();
    }
</script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="/js/Profile-Edit-Form.js"></script>
</body>
</html>