@font-face {
    font-family: "FuturaLight";
    src: url('/fonts/FuturaLight.ttf');
}

body {
    font-family: "FuturaLight";
}

.sticky-bottom {
    position:absolute;
    bottom:0;
    width:100%;
    margin-top:5%;
}

table {
    empty-cells: show; !important;
}