<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href='/css/fullcalendar.min.css' rel='stylesheet' />
    <link href='/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='/js/moment.min.js'></script>
    <script src='/js/jquery.min.js'></script>
    <script src='/js/fullcalendar.min.js'></script>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Data-Table-1.css">
    <link rel="stylesheet" href="/css/Data-Table.css">
    <link rel="stylesheet" href="/css/Footer-Dark-1.css">
    <link rel="stylesheet" href="/css/Footer-Dark.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/css/Google-Style-Login.css">
    <link rel="stylesheet" href="/css/Pretty-Table-1.css">
    <link rel="stylesheet" href="/css/Pretty-Table.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        table.showcell{
            empty-cells: show;
        }
    </style>
</head>

<body>
<div th:replace="/../fragments/adminHeader ::navbar" name="header"></div>
<div class="container" style="margin-top: 10%">
<table id="testtable" class="table showcell">
    <thead>
    <tr>
        <td class='calendar_head'><a class='calendar_link'
                                     href='javascript:prevMonth()'> &laquo;</a></td>
        <td colspan=5 class='calendar_head_month' id='calendar_month'>
            </td>
        <td class='calendar_head'><a class='calendar_link'
                                     href='javascript:nextMonth()'> &raquo;</a></td>
    </tr>
    <tr>
        <th scope="col">Datum</th>
        <th scope="col">Wochentag</th>
        <th scope="col">Bemerkung</th>
        <th scope="col">Beginn (Uhrzeit)</th>
        <th scope="col">Ende (Uhrzeit)</th>
        <th scope="col">Pause(in Std)</th>
        <th scope="col">Arbeitszeit</th>
        <th scope="col">Bemerkung</th>
    </tr>
    </thead>
    <tbody>



    <!--  <tr><td class='calendar_entry' id='calendar_entry_1'>-x-</td></tr>
    <tr> <td class='calendar_entry' id='calendar_entry_2'>-x-</td>  </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_3'>-x-</td></tr>
    <tr> <td class='calendar_entry' id='calendar_entry_4'>-x-</td></tr>
    <tr> <td class='calendar_entry' id='calendar_entry_5'>-x-</td></tr>
    <tr> <td class='calendar_entry' id='calendar_entry_6'>-x-</td></tr>
    <tr> <td class='calendar_entry' id='calendar_entry_7'>-x-</td></tr>
    <tr> <td class='calendar_entry' id='calendar_entry_8'>-x-</td></tr>
    <tr> <td class='calendar_entry' id='calendar_entry_9'>-x-</td></tr>
    <tr> <td class='calendar_entry' id='calendar_entry_10'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_11'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_12'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_13'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_14'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_15'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_16'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_17'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_18'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_19'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_20'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_21'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_22'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_23'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_24'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_25'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_26'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_27'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_28'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_29'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_30'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_31'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_32'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_33'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_34'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_35'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_36'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_37'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_38'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_39'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_40'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_41'>-x-</td> </tr>
    <tr> <td class='calendar_entry' id='calendar_entry_42'>-x-</td> </tr> -->
    </tbody>
</table>
</div>
<script>
    var currentDate = new Date();
    var currentMonth = currentDate.getMonth();
    var currentYeahr = currentDate.getFullYear();
    var date = new Date(currentYeahr,currentMonth,1);
    var days = [];
   while (date.getMonth() === currentMonth) {
        var tag = date.getDate() +"."+date.getMonth()+1 +"."+date.getFullYear();
        days.push(tag);
       // days.push(new Date(date).toDateString());
        date.setDate(date.getDate() + 1);
    }
    console.log(days);
    testtable = document.getElementById("testtable");
    console.log(testtable.rows.length);
    // rows
    for(var i = 0; i < days.length; i++)
    {
        // create a new row
        var newRow = testtable.insertRow(testtable.length)
        var cell = newRow.insertCell(0);
        cell.innerHTML = days[i];

    }
</script>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="/js/Profile-Edit-Form.js"></script>
</body>
</html>